html, body{
  margin: 0;
}

body{
  font-family: 'Coiny', 'cursive';
}

.nav{
  background-color: #51eaea;
  border-bottom: solid 0.5px;
}

.heading{
  text-align:center;
}

.main{
  background-color: #8ed6ff;
  text-align: center;
  float: left;
  clear: both;
  margin: 0 auto;
  width: 100%;
}

.instructions{
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.gather-stuff{
  text-align: center;
  display: inline-block;

}

.label, .input{
  margin-top: 8px;
}

.submit{
  margin-top: 15px;
  display: inline-block;
}
