html, body{
  margin: 0;
}

body{
  font-family: 'Coiny', 'cursive';
}

.heading{
  text-align:center;
}

.main{
  text-align: center;
  float: left;
  clear: both;
}

.instructions{
  border-bottom: solid 1px;
  margin: 0;
  padding-right: 10px;
}

.gather-stuff{
  text-align: center;
  display: inline-block;

}

.label, .input{
  margin-top: 8px;
}

.submit{
  margin-top: 15px;
  display: inline-block;
}
